
.header{
    font-size: 34px;
    text-align: center;
}
.gen{
    display: inline;
}

.txt{
    font-size: larger;
    margin-bottom: 14px;
    padding-left: 13px;
    background-image: url(NUC\ Image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.in{
    margin-bottom: 24px;
}

#input{
    width: 12px;
}

.bor{
    border: 2px solid black;
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: 100px;
    margin-right: 100px;
}
.footer{
    font-size: large;
    text-align: left;
}